@import '@material/theme/color-palette';

$mdc-theme-primary: $material-color-light-blue-900;
$mdc-theme-secondary: $material-color-blue-grey-600;

$mdc-typography-font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen-Sans, Ubuntu, Cantarell,
    'Helvetica Neue', sans-serif;
